* {
    font-family: 'DM Sans', sans-serif;
}
a {
    color: black;
}
a#title:hover {
    color: #FFE312;
}
a:hover{
    text-decoration: none;
    background-color: #FFE312;
    color: black;
}
#nav {
    text-align: right;
    list-style-type: none;
}
container {
    max-height: 100%
}
.container-fluid {
    margin-top: 2.5%;
}
#image {
    position: relative;
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
#hello {
    position: relative;
    margin-top: 15%;
}
#salut {
    color: #333;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 15px;
}
#state {
    color: #333;
    font-size: 30px;
    
}
ul#socials li {
    display: inline;
    padding-right: 20px;
    font-weight: 600;
}
#socials {
    margin-top: 30px;
    font-size: 17px;
}
.social-img {
    height: 100px;
}
.background {
    position: relative;
    text-align: center;
    background-color: RGBA(255,254,145,0.28);
}
img.background {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.title {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    text-decoration: none;
}
.info {
    font-size: 17px;
}
.tag {
    text-transform: capitalize;
}

#quote-container p{
    font-size: 17px;
}

.project-image {
    margin-left: 2%;
    float: left; 
    height: auto;
    width: 30%;	
}

.project-brief {
    display: inline-block;
    width: 65%;
    padding-top: 10%;
}

.project p {
    font-size: 13px;
    padding-top: 10px;
}

.github {
    width: 1rem;
    height: auto;
}

@media (max-width: 550px) {
    #title {
        text-align: center;
    }
    h4 {
        font-size: 15px;
    }
    #hello {
        margin-top: 0;
    }
    #intro-row {
        padding: 5%;
    }
    #salut {
        font-size: 30px;
    }
    #state{
        font-size: 25px;
    }
}

@media (max-width: 992px) {
    #hello {
        padding: 10px;
    }
}